[Desktop Entry]
Type=Application
Name=PinenoteHelperAutostart
Exec=/bin/dash /etc/greeter/greeter.sh
Icon=
Comment=
X-GNOME-Autostart-enabled=true
# start under any desktop environment, unless
# ~/.config/pinenote/disable-autostart exists
# Autostart-Condition=unless-exists pinenote/disable_greeter
